@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
}

#weather-widget {
  position: fixed !important;
  top: 0.8rem;
  right: 0.8rem;
}

.blob {
  animation: float 8s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0) scale(1);
  }
  50% {
    transform: translateY(-20px) scale(1.05);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}
.blob {
  @apply bg-contain bg-center bg-no-repeat flex flex-col justify-center items-center w-full h-screen;
  background-image: url('/blob/blob_2.svg');
}

.iconImage{
  @apply h-12 w-12 lg:h-16 lg:w-16 rounded-full overflow-hidden inline-flex items-center justify-center cursor-pointer
}
.iconImage img {
  @apply w-full h-full object-cover pointer-events-none;
}